# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

test/fixtures/in.jsx
/.history
/.idea

 # built CircleCI configs
.circleci/processed-config.yml
